* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #C9F4AA;
  --font-color: #AACB73;
  --secondary-fontColor: #FFFBEB;
  --title-color: #658864;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-container {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-color);
}

.links {
  text-decoration: none;
  color: var(--font-color);
}

.links:hover {
  color: var(--secondary-fontColor);
}

.links-active {
  color: var(--secondary-fontColor);
}

.title-link {
  font-size: 38px;
  text-decoration: none;
  color: var(--title-color);
}

.nav-container>ul {
  list-style: none;
  display: flex;
  gap: 50px;
  font-size: 23px;
}

.home-container {
  height: 50vh;
  width: 100%;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grocery-bg {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: auto;
}

.title-container {
  padding-left: 150px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.homepage-title {
  font-size: 42px;
  color: var(--title-color);
}

.homepage-subtitle {
  color: var(--font-color);
}

.shop-btn {
  width: fit-content;
  text-decoration: none;
  font-weight: bold;
  color: var(--font-color);
  border-radius: 5px;
  padding: 10px 20px;
  background-color: var(--bg-color);
  cursor: pointer;
}

.cart-container {
  position: relative;
}

.cart-notification {
  position: absolute;
  top: -10px;
  left: -10px;
  color: black;
  background-color: rgb(252, 114, 114);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-icon {
  color: var(--font-color);
  background-color: var(--secondary-fontColor);
  padding: 10px;
  font-size: larger;
  border-radius: 50%;
  font-weight: bolder;
  cursor: pointer;
}

.contact-details {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 50px;
  height: 50vh;
}

.contact-detail {
  width: 90px;
  height: 90px;
  transition: all 0.3s;
}

.contact-detail:hover {
  transform: scale(1.2);
}

.cart-details-container {
  position: fixed;
  z-index: -200;
  width: min(100%);
  height: min(100%);
  transition: all 0.4s;
}

.show {
  background-color: rgb(128, 128, 128, 0.5);
  z-index: 1000;
}

.inner-cart {
  position: fixed;
  right: 0;
  top: 0;
  width: 350px;
  height: 100%;
  background-color: var(--secondary-fontColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateX(450px);
  transition: all 0.4s;
}

.display {
  transform: translateX(0);
}

.total-cart {
  margin: 90px 40px 40px 40px;
}

.cart-btn {
  width: 250px;
  height: 39px;
  margin-bottom: 15px;
  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;
  font-size: larger;
  color: var(--title-color);
}

.green {
  background-color: var(--bg-color);
}

.red {
  background-color: rgb(252, 114, 114);
}

.items-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

.single-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px var(--title-color);
  width: fit-content;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  height: 350px;
}

.item-image {
  width: 250px;
  height: 150px;
}

.item-details {
  padding-top: 20px;
  border-top: solid 1px var(--title-color);
  margin-top: 20px;
}

.add-btn {
  position: absolute;
  left: 10px;
  bottom: 10px;
  margin-top: 20px;
  width: 300px;
  height: 30px;
  background-color: var(--bg-color);
  border-color: transparent;
  color: var(--title-color);
  font-size: larger;
  cursor: pointer;
}

.cart-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-cart-item{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 20px;
}

.cart-image{
  width: 120px;
  height: 70px;
}

.single-item-details{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}